.test-bg {
  background: rgba(25, 25, 25, 0.65);
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.test-text {
  color: rgba(0, 255, 0, 1);
}

.important {
  color: rgba(255, 0, 0, 1);
  font-weight: bold;
  font-size: 36px;
}
