:root {
  --color-green: #079a39;
  --color-red: #d44b3c;
}

body {
  background: linear-gradient(#2a2a2a, #111111);
  height: 100%;
  background-attachment: fixed;
}

button {
  background: #2f2f2f;
  border-radius: 5px;
  border-color: #3f3f3f;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fbf1c7;
  box-shadow: 5px 10px 5px #1c1c1c;
  margin: 5px;
  margin-bottom: 10px;
}

.graph {
  stroke-width: 3px;
}

.graph.negative {
  stroke: var(--color-red);
}

.graph.positive {
  stroke: var(--color-green);
}

.graph-card {
  background: #292929;
  border-style: solid;
  border-color: #1f1f1f;
  border-width: 7px;
  border-radius: 15px;
  margin: 10px 5px;
  display: inline-flex;
}

.eu-graph-gradient {
  opacity: 15%;
}

.eu-graph-gradient.positive {
  fill: url(#positive);
}

.eu-graph-gradient.negative {
  fill: url(#negative);
}

.eu-graph-gradient.neutral {
  fill: url(#neutral);
}

div.pad-sides {
  margin-top: clamp(1px, 5vh, 45px);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
}

.grid-container img {
  justify-self: right;
}

.test-bg {
  background: #2f2f2fff;
  border-radius: 15px;
  padding: 10px;
  color: #fbf1c7;
  box-shadow: 5px 10px 5px #1c1c1c;
}

span.r-status,
.important {
  opacity: 85%;
  color: var(--color-red);
  font-weight: bold;
}

.important {
  font-size: 36px;
}

.good {
  opacity: 85%;
  color: var(--color-green);
}

span.r-status:hover,
.important:hover {
  opacity: 100%;
}
