html {
  background: #1c1c1cff;
}

.test-bg {
  background: #2f2f2fff;
  border-radius: 15px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fbf1c7;
}

.test-text {
  color: rgba(0, 255, 0, 1);
}

.important {
  color: #d44b3cff;
  font-weight: bold;
  font-size: 36px;
}
