:root {
  --color-green: #079a39;
  --color-red: #d44b3c;
  --color-bg-med: #292929;
  --color-bg-light: #2f2f2f;
  --color-text: #fbf1c7;
  --color-box-shadow: #1c1c1c;
}

body {
  background: linear-gradient(#2a2a2a, #111111);
  height: 100%;
  background-attachment: fixed;
}

button {
  background: var(--color-bg-light);
  border-radius: 5px;
  border-color: #3f3f3f;
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--color-text);
  box-shadow: 5px 10px 5px var(--color-box-shadow);
  margin: 5px;
  margin-bottom: 10px;
}

.graph {
  stroke-width: 2px;
}

.graph.negative {
  stroke: var(--color-red);
}

.graph.positive {
  stroke: var(--color-green);
}

.graph.neutral {
  stroke: gray;
}

.graph-card {
  overflow: hidden;
  background: var(--color-bg-med);
  border-style: solid;
  border-color: #1f1f1f;
  border-width: 7px;
  border-radius: 15px;
  margin: 10px 5px;
  display: inline-flex;
}

.eu-graph-gradient {
  opacity: 15%;
}

.eu-graph-gradient.positive {
  fill: url(#positive);
}

.eu-graph-gradient.negative {
  fill: url(#negative);
}

.eu-graph-gradient.neutral {
  fill: url(#neutral);
}

.eu-stat {
  font-weight: bold;
  /* color: var(--color-red); */
}

div.pad-sides {
  margin-top: clamp(1px, 5vh, 45px);
  margin-left: 2.5vw;
  margin-right: 2.5vw;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0px;
}

.grid-container img {
  justify-self: right;
}

.test-bg {
  background: var(--color-bg-light);
  border-radius: 15px;
  padding: 10px;
  color: var(--color-text);
  box-shadow: 5px 10px 5px var(--color-box-shadow);
}
